<!-- <div class="col-sm-5">

<div class="page-header text-center">
  <h1><span class="fa fa-user"></span> My Contacts</h1>
  <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
</div>
<div class="row">
    <!- GOOGLE INFORMATION -->
  <!-- <div class="col-sm-12">
    <div ng-repeat="contact in contacts">
      <div class="panel panel-primary">
        <div class="panel-heading">{{contact.gd$name.gd$fullName.$t}}</div>
          <div class="well">
            Email: <input type="text" ng-model="contact.gd$email[0].address">
            Phone: <input type="text" ng-model="contact.gd$phoneNumber[0].$t">
          </div>
          <div class="well">
            Street: <input type="text" ng-model="contact.gd$structuredPostalAddress[0].gd$street.$t">
            City: <input type="text" ng-model="contact.gd$structuredPostalAddress[0].gd$city.$t">
            State: <input type="text" ng-model="contact.gd$structuredPostalAddress[0].gd$region.$t">
            Zip: <input type="text" ng-model="contact.gd$structuredPostalAddress[0].gd$postcode.$t">   
          </div>
          <div class="panel-footer">
            <button ng-click="updateContact(contact)">Update Contact</button>
            <button ng-click="requestAddress(contact)">Request Address</button>
            <button ng-click="removeContact(contact)">Remove Contact</button>   
          </div>
        </div>
    </div>
  </div>
</div> -->

<!-- </div> --> 